$plblue:    #b4e4fb;
$pgreen:    #9ccd66;
$pyellow:   #c0cb33;
$pred:      #ef5351;
$plgreen:   #c6e0a6;
$plyellow:  #dbe578;
$plred:     #f09b9b;

$colors: (
  "plblue": $plblue,
  "pgreen": $pgreen,
  "pyellow": $pyellow,
  "pred": $pred,
  "plgreen": $plgreen,
  "plyellow": $plyellow,
  "plred": $plred,
);

$theme-colors: (
  "plblue": $plblue,
  "pgreen": $pgreen,
  "pyellow": $pyellow,
  "pred": $pred,
  "plgreen": $plgreen,
  "plyellow": $plyellow,
  "plred": $plred,
);
